@model IEnumerable<EFCAssets.Models.Office>

@{
    ViewData["Title"] = "Index";
}


<span>active </span><span style="" class="display-4 text-info">Offices</span>
<p>
    <a asp-action="Create" class="text-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfficeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeCountry)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeCountry)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfficeId" class="text-info">Edit |</a>
                <a asp-action="Details" asp-route-id="@item.OfficeId" class="text-info">Details |</a>
                <a asp-action="Delete" asp-route-id="@item.OfficeId" class="text-info">Deactivate</a>
            </td>
        </tr>
}
    </tbody>
</table>
