@model EFCAssets.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<span class="display-4 text-info">Deactivate</span><p></p>

<span>Are you sure you want to deactivate <b>@Model.CategoryName</b> category?</span>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEOLMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryEOLMonths)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryComment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Deactivate" class="btn btn-danger" /> |
        <a asp-action="Index" class="text-info">Back to List</a>
    </form>
</div>
