@model EFCAssets.Models.Category

@{
    ViewData["Title"] = "Details";
}

<span style="" class="display-4 text-info">Details</span><span> for @Model.CategoryName</span>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryEOLMonths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryEOLMonths)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="text-info">Edit |</a>
    <a asp-action="Index" class="text-info">Back to List</a>
</div>
