@model IEnumerable<EFCAssets.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<span>active</span><span style="" class="display-4 text-info">Categories</span>

<p>
    <a asp-action="Create" class="text-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CategoryEOLMonths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryActive)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoryComment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CategoryEOLMonths)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryActive)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryComment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="text-info">Edit |</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="text-info">Details |</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="text-info">Deactivate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
