@model EFCAssets.Models.Asset

@{
    ViewData["Title"] = "Details";
}

<span class="display-4 text-info">Details</span><span> for asset</span>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetPurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.AssetPurchaseDate.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.AssetExpirationDate.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetWarningDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.AssetWarningDate.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Office.OfficeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetId" class="text-info">Edit</a> |
    <a asp-action="Index" class="text-info">Back to List</a>
</div>
