@model IEnumerable<EFCAssets.Models.Asset>


@{
    ViewData["Title"] = "Report";
}

<h1>Expired Assets</h1>


<link href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>

<p>
    <a asp-action="Reports">Back to reports page</a>

</p>
<input type="text" id="searchOffice" onkeyup="searchOffice()" placeholder="Search office...">
<input type="text" id="searchCategory" onkeyup="searchCategory()" placeholder="Search category...">

<table  id="table" data-virtual-scroll="true" data-height="460" data-toggle="table" data-search="true" data-show-columns="true" data-buttons-align="left" cellpadding="5px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetPurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetWarningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetPrice)
            </th>

            <th>


                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            double sumOfExpenses = 0;
            int daysLeft = (item.AssetExpirationDate - DateTime.Today).Days;
            <tr class="@(daysLeft < 1 ? "text-danger" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @item.AssetPurchaseDate.ToShortDateString()
                </td>


                <td>
                    @item.AssetExpirationDate.ToShortDateString()
                </td>
                <td>
                    @item.AssetWarningDate.ToShortDateString()
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.AssetPrice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Office.OfficeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetActive)
                </td>

                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.AssetId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AssetId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AssetId">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
    <tfoot>
        <tr><td></td></tr>
        <tr>
            <td>Cost of replacing</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">@ViewData["sumPrice"]</td>
        </tr>
    </tfoot>
</table>
